{% extends 'quiz/base.html' %}

{% block content %}

    <div id="logo">
        <img src="https://www.grama.io/imgs/logo.svg">
    </div>
    <div class="homepage">
        <h1>Grama Quiz</h1>
        <form method="post" class="team-form">
            {% csrf_token %}
            {{ form }}
            <div class="index-errors">
                {{ form.non_field_errors }}
            </div>
            <input type="submit" class = "btnNext" value="Entrar">
        </form>
    </div>

{% endblock %}