{% extends 'quiz/base.html' %}

{% block content %}
    <div class="questions">
        <h1>Questões</h1>
        
        {% for category, questions in questions_grouped.items %}
            <div class="category">
                <h3>{{ category }}</h3>
                {% for question in questions %}
                    <a href="{% url 'answer' question.questionNumber %}">({{ question.questionNumber }}) {{ question.shortName }}</a>
                {% endfor %}
            </div>
        {% endfor %}

        {% if not team.hasFinished %}
        <form name="submitForm" method="post">
            {% csrf_token %}
            <input id="submitButton" type="submit" value="Acabar Quiz">
        </form>
        {% endif %}
    </div>

    <script type="text/javascript">
        var inputElement = document.getElementById("submitButton")
        inputElement.addEventListener("click", function(event) {
            if (confirm('Queres mesmo submeter as repostas?')) {
                document.getElementById("submitForm").submit()
            } else {
                event.preventDefault();
                return false;
            }
        })
    
    </script>

{% endblock %}