<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="Global.css">
<body class="Questions Screen">

    <div class="header">
        <h1>Questions</h1>
    </div>

    <ul>
        <li><a href="/{{teamId}}/questions/1">Question 1</a></li>
        <li><a href="/{{teamId}}/questions/2">Question 2</a></li>
        <li><a href="/{{teamId}}/questions/3">Question 3</a></li>
        <li><a href="/{{teamId}}/questions/4">Question 4</a></li>
    </ul>


</body>
</html>